* {
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
    font-size: 20px;
}

.squares {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: deepskyblue;
    display: inline-block;
}

#myContainer {
    width: 700px;
    height: 700px;
    position: relative;
    background: yellow;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    background-color: red;
}

.img-box {
    margin: 40px;
}

a.avatar-link {
    position: relative;
    display: inline-block;
}

.img-box img.user-avatar {
    border-radius: 50%;
    display: block;
}

.user-status-one {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-two {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-three {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 485px;
    /* right: 30px;
    bottom: 30px; */
    position: absolute;
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-four {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 735px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-five {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 985px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-six {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-seven {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-eight {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 485px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-nine {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 735px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-ten {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 985px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-eleven {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-tweleve {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-thirteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 485px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-fourteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 735px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-fifteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 985px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-sixteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 625px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-seventeen {
    border-radius: 50%;
    height: 30px;
    margin-top: 625px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.img-box img.user-avatar[width="140"]+.user-status {
    right: 16px;
    bottom: 15px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #434343;
    background-image: linear-gradient(#434343, #282828);
}

#content {
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 50px;
}

.follow-me {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.search {
    width: 60%;
    position: relative;
    /* display: flex; */
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    top: 4%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.container {
    width: 10px;
    height: 30px;
    position: absolute;
    left: 400px;
    /* top: 10%; */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 10px;
    height: 30px;
    position: absolute;
    left: 500px;
    /* top: 10%; */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 10px;
    height: 20px;
    position: absolute;
}

.center2 {
    width: 10px;
    height: 20px;
    position: absolute;
}

.btn {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup form - hidden by default */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.tb3 {
    display: table;
    width: 100%;
}

.td3 {
    display: table-cell;
    vertical-align: middle;
}

input2,
button2 {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

form2 {
    height: 96px;
}

input2[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder {
    color: #e16868;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

button3 {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button3 span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button3 span:before,
button3 span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd-url {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px 14px;
    margin: 20px;
    color: #fff;
    font-family: Nunito;
    font-size: 14px;
    text-decoration: none;
    background-color: #ff7575;
    border-radius: 4px;
    box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
    z-index: 125;
}

:root3 {
    --color-white: #fff;
    --color-black: #333;
    --color-gray: #75787b;
    --color-gray-light: #bbb;
    --color-gray-disabled: #e8e8e8;
    --color-green: #53a318;
    --color-green-dark: #383;
    --font-size-small: .75rem;
    --font-size-default: .875rem;
}

body2 {
    margin: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
}

h5 {
    color: var(--color-gray);
    font-size: var(--font-size-small);
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section3 {
    margin-bottom: 2rem;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.progress-bar li {
    flex: 2;
    position: relative;
    padding: 0 0 14px 0;
    font-size: var(--font-size-default);
    line-height: 1.5;
    color: var(--color-green);
    font-weight: 600;
    white-space: nowrap;
    overflow: visible;
    min-width: 0;
    text-align: center;
    border-bottom: 2px solid var(--color-gray-disabled);
}

.progress-bar li:first-child,
.progress-bar li:last-child {
    flex: 1;
}

.progress-bar li:last-child {
    text-align: right;
}

.progress-bar li:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--color-gray-disabled);
    border-radius: 50%;
    border: 2px solid var(--color-white);
    position: absolute;
    left: calc(50% - 6px);
    bottom: -7px;
    z-index: 3;
    transition: all .2s ease-in-out;
}

.progress-bar li:first-child:before {
    left: 0;
}

.progress-bar li:last-child:before {
    right: 0;
    left: auto;
}

.progress-bar span {
    transition: opacity .3s ease-in-out;
}

.progress-bar li:not(.is-active) span {
    opacity: 0;
}

.progress-bar .is-complete:not(:first-child):after,
.progress-bar .is-active:not(:first-child):after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: -50%;
    z-index: 2;
    border-bottom: 2px solid var(--color-green);
}

.progress-bar li:last-child span {
    width: 200%;
    display: inline-block;
    position: absolute;
    left: -100%;
}

.progress-bar .is-complete:last-child:after,
.progress-bar .is-active:last-child:after {
    width: 200%;
    left: -100%;
}

.progress-bar .is-complete:before {
    background-color: var(--color-green);
}

.progress-bar .is-active:before,
.progress-bar li:hover:before,
.progress-bar .is-hovered:before {
    background-color: var(--color-white);
    border-color: var(--color-green);
}

.progress-bar li:hover:before,
.progress-bar .is-hovered:before {
    transform: scale(1.33);
}

.progress-bar li:hover span,
.progress-bar li.is-hovered span {
    opacity: 1;
}

.progress-bar:hover li:not(:hover) span {
    opacity: 0;
}

.x-ray .progress-bar,
.x-ray .progress-bar li {
    border: 1px dashed red;
}

.progress-bar .has-changes {
    opacity: 1 !important;
}

.progress-bar .has-changes:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: calc(50% - 4px);
    bottom: -20px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E');
}