* {
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
    font-size: 20px;
}

.squares {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: deepskyblue;
    display: inline-block;
}

#myContainer {
    width: 700px;
    height: 700px;
    position: relative;
    background: yellow;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    background-color: red;
}

.img-box {
    margin: 40px;
}

a.avatar-link {
    position: relative;
    display: inline-block;
}

.img-box img.user-avatar {
    border-radius: 50%;
    display: block;
}

.user-status-one {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-two {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-three {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 485px;
    /* right: 30px;
    bottom: 30px; */
    position: absolute;
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-four {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 735px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-five {
    border-radius: 50%;
    height: 30px;
    margin-top: 25px;
    margin-left: 985px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-six {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-seven {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-eight {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 485px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-nine {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 735px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-ten {
    border-radius: 50%;
    height: 30px;
    margin-top: 225px;
    margin-left: 985px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-eleven {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-tweleve {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-thirteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 485px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-fourteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 735px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-fifteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 425px;
    margin-left: 985px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-sixteen {
    border-radius: 50%;
    height: 30px;
    margin-top: 625px;
    margin-left: -15px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.user-status-seventeen {
    border-radius: 50%;
    height: 30px;
    margin-top: 625px;
    margin-left: 235px;
    position: absolute;
    /* right: 30px;
    bottom: 30px; */
    width: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

.img-box img.user-avatar[width="140"]+.user-status {
    right: 16px;
    bottom: 15px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #434343;
    background-image: linear-gradient(#434343, #282828);
}

#content {
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 50px;
}

.follow-me {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.search {
    width: 40%;
    position: absolute;
    top: -25px;
    /* display: flex; */
}

.searchBoxTerm {
    border: 3px solid #00B4CC;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border-right: none;
    height: 20px;
    width: 100%;
    color: #9DBFAF;
}

.searchBoxTerm:focus {
    color: #00B4CC;
}


/* 
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
} */


/*Resize the wrap to see the search bar change!*/

.wrapping {
    position: absolute;
    top: 4%;
    width: 30%;
    left: 19%;
    transform: translate(-50%, -50%);
}

.routeContainer {
    width: 10px;
    height: 30px;
    position: absolute;
    left: 310px;
    top: 16px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.animationContainer {
    width: 11px;
    height: 29px;
    position: absolute;
    left: 421px;
    top: 15px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.routeCenter {
    width: 10px;
    height: 20px;
    position: absolute;
}

.animationCenter {
    width: 10px;
    height: 20px;
    position: absolute;
}

.bttn {
    width: 110px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    top: -14px;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.bttn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.bttn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.open-button {
    background-color: #555;
    color: black;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 12px;
}


/* The popup form - hidden by default */

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.container-form {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width input fields */

.container-form input[type=text],
.container-form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.container-form input[type=text]:focus,
.container-form input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.container-form .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.container-form .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.container-form .btn:hover,
.open-button:hover {
    opacity: 1;
}

.container-form-second {
    height: 96px;
}

.container-form-second[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

.input-second[type="text"]::placeholder {
    color: #e16868;
}

.button-second {
    position: relative;
    display: block;
    width: 74px;
    height: 26px;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.button-second span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.button-thrid span:before,
.button-third span:after {
    content: '';
    position: absolute;
    bottom: 3;
    right: 2;
    width: 33px;
    height: 45px;
    background-color: #fff;
    transition: 0.5s ease all;
}

#e-cover:hover #s-circle {
    top: -1px;
    width: 27px;
    border-radius: 30px;
    height: 55px;
    border-width: 0;
    background-color: #fff;
}

#e-cover:hover span {
    top: 20%;
    left: 46px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#e-cover:hover button span:before {
    bottom: 55px;
    transform: rotateZ(52deg);
    left: 45px;
    top: 45px;
}

#e-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#e-cover:hover button span:before,
#e-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

h5 {
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-second {
    margin-bottom: 2rem;
}

.progress-second-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.progress-second-bar li:first-child,
.progress-second-bar li:last-child {
    flex: 1;
    margin: 10px;
}

.progress-second-bar li:last-child {
    text-align: right;
    border: 2px solid;
}

.progress-second-bar li:before {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 40%;
    border: 5px;
    position: absolute;
    bottom: -8px;
    z-index: 4;
}

.progress-second-bar li:first-child:before {
    left: 0;
}

.progress-second-bar li:last-child:before {
    right: 0;
    left: auto;
    top: 20px;
}

.pprogress-second-bar span {
    transition: opacity .3s ease-in-out;
    opacity: 2;
}

.progress-bar li:not(.is-active) span {
    opacity: 0;
}

.progress-second-bar .progress-second-bar {
    width: 200%;
    position: absolute;
    bottom: 2px;
    display: block;
    z-index: 2;
    border-bottom: 2px solid var(--color-green);
}

.progress-second-bar li:last-child span {
    width: 50%;
    display: outline-block;
    position: absolute;
    left: -50%;
}

.progress-second-bar .is-complete:last-child:after,
.progress-second-bar .is-active:last-child:after {
    width: 50%;
    left: -50%;
    position: relative;
}